<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    {% load static %}
    <link rel="stylesheet" href="{% static style.css%}" />
    <link
      rel="stylesheet"
      media="only screen and (max-width: 768px)"
      href="{%static style.css%}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/6396d3e9f7.js "
      crossorigin="anonymous"
    ></script>
    <title>ITBANK</title>
  </head>

  <body>
    <header class="header">
      <div class="logo">
        <img src="img/ITBANK-LOGO-MAS-CHICO.png" class="imagen-logo" />
      </div>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'clientes' %}">Clientes</a></li>
        <li><a href="{% url 'cuentas' %}">Cuentas</a></li>
        <li><a href="{% url 'prestamos' %}">Prestamos</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'tarjetas' %}">Tarjetas</a></li>
      </ul>
    </header>
    <main>{% block content %} {% endblock %}</main>

    <footer>
      <nav>
        <ol class="footer-links">
          <li>
            <a id="link" href="">Seguridad</a>
          </li>
          <li>
            <a id="link" href="">Defensa al consumidor</a>
          </li>
          <li>
            <a id="link" href="">Proteccion de datos personales</a>
          </li>
          <li>
            <a id="link" href="">Comisiones</a>
          </li>
          <li>
            <a id="link" href="">Aviso legal</a>
          </li>
        </ol>
      </nav>
      <p>
        &copyCopyright 2001-2022 ITBANK. Todos los derechos reservados.
        Prohibida la duplicación, distribución o almacenamiento en cualquier
        medio.
      </p>
    </footer>
  </body>
</html>
